
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Loggin</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Mulish:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .full-width-div {
            position: absolute;
            width: 100%;
            left: 0;
        }

        .full-height-div {
            position: absolute;
            height: 100%;
            left: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row full-width-div full-height-div text-center">
            <div class="col-6 bg-info"></div>
            <div class="col-6 text-center  bg-facebook">
                <div class="align-content-xl-center mt-5 mx-auto">
                    <div class="image text-center col-sm-offset-2 col-10 mt-lg-5 mb-lg-5 pt-5 pb-5">
                        <img src="~/images/icons8-login-64.png" />
                    </div>
                    <form class="form-horizontal" asp-action="Loggin">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Email:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" name="userName" placeholder="Enter email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="password" placeholder="Enter password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-5">
                                <div class="checkbox float-left">
                                    <label><input type="checkbox"> Remember me</label>
                                </div>
                            </div>
                            <div class="col-sm-5 float-right">
                                <div class="checkbox float-right">
                                    <a class="float-right" href="#">Forgotten password?</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
